body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.header-menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 10px 20px;
}

.menu-item {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
    border-radius: 15px;
}

.menu-item:hover {
    background-color: #555;
}

.login-menu-item {
    margin-left: auto;
    color: #fff;
}

.login-menu-item a {
    text-decoration: none;
    color: rgb(165, 218, 218);
}

.login-menu-item a:hover {
    text-decoration: none;
    color: rgb(123, 153, 153);
    transition: color 0.3s;
}

.error-message {
	background-color: rgb(196, 129, 129);
	color: white;
	margin-bottom: 10px;
	padding: 10px;
}

.blogpost {
    width: 70%;
    margin: 0 auto;
    background-color: #4a93af;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.blog-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blogtitle {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.blogauthor {
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}

.blogdate {
    color: white;
}

.count {
    background-color: rgb(80, 56, 10);
    font-size: 14px;
    border-radius: 10px;
    padding: 2px 8px;
    font-style: normal;
}

.blogpostfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
